/* Resseting  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    background-color: aqua;
}


/* Tittle Section  */
section{
    margin: 0 auto;
    height: 32rem;
    width: 32rem;
    position: relative;
}

h1{
    position: absolute;
    font-size: xx-large;
    letter-spacing: 1rem;
}

span:nth-child(1){
    position: absolute;
    transform: rotate(-59.5deg);
    top: 5rem;
    bottom: 0rem;
    left: 0rem;
    right: -4rem;
    color: white;
}

span:nth-child(2){
    position: absolute;
    transform: rotate(-59.5deg);
    top: 5rem;
    bottom: 9rem;
    left: 2rem;
    right: -39px;

}
span:nth-child(3){
    position: absolute;
    transform: rotate(-47.5deg);
    top: 4rem;
    bottom: 9rem;
    left: 3rem;
    right: 20rem;
}

span:nth-child(4){
    position: absolute;
    transform: rotate(-44.5deg);
    top: 1rem;
    bottom: -6rem;
    left: 115px;
    right: -4px;
}

span:nth-child(5){
    position: absolute;
    transform: rotate(-32deg);
    top: -6px;
    bottom: 76rem;
    left: 7rem;
    right: -10rem;
    color: red;
}

span:nth-child(6){
    position: absolute;
    transform: rotate(-23deg);
    top: -11px;
    bottom: -43px;
    left: 155px;
    right: 0px;
    color: rgb(0, 0, 0);

}
span:nth-child(7){
    position: absolute;
    transform: rotate(-16deg);
    top: -22px;
    bottom: 58px;
    left: 178px;
    right: 0px;
    color: rgb(48, 1, 1);
}

span:nth-child(8){
    position: absolute;
    transform: rotate(-9deg);
    top: -29px;
    bottom: 58px;
    left: 207px;
    right: 0px;
    color: rgb(48, 1, 1);
}






/* Ball Section  */
.circle{
    width: 30rem;
    height: 30rem;
    /* border: 0.5px solid rgba(0, 0, 0, 0.637); */
    border-radius: 50%;
    box-shadow: 0px 100px 80px black;
    background-image: radial-gradient(rgb(255, 255, 255),rgb(178, 181, 178),rgb(0, 0, 0));
    margin: 20rem auto;
}

.circle:hover{
    background-image: radial-gradient(rgb(255, 255, 255),rgb(159, 161, 159),rgb(0, 0, 0));
    
}
.circle:active{
    background-image: radial-gradient(rgb(255, 255, 255),rgb(109, 109, 109),rgb(0, 0, 0));
    
}

.mobileView{
    visibility: hidden;
    position: absolute;
}

/* Footer/About Section  */
footer{
    background-color: rgba(220, 220, 220, 0.2);
    margin-top: 250px;
    height: 100px;
}

.aboutme{
    text-align: center;
    padding: 30px;
}


@media screen and (max-width: 670px){
    .circle{
        width: 180px;
        height: 180px;
    }
    section {
        width: 200px;
        height: 200px;
    }
    .tittle{
        display: none;
    }
    .mobileView{
        visibility: visible;
        font-size: 1rem;
        font-weight: bold;
        top: -38px;
        left: 18px;
    }
    h6{
        color: red;
        font-size: 1rem;
    }
    
}

@media screen and (max-height: 873px) {
    footer{
        margin-top: 150px;
    }
}
@media screen and (max-height: 767px) {
    footer{
        margin-top: 120px;
    }
}
@media screen and (max-height: 741px) {
    footer{
        margin-top: 100px;
    }
}
@media screen and (max-height: 720px) {
    body{
        margin-top: -50px;
    }
}
@media screen and (max-height: 672px) {
    body{
        margin-top: -70px;
    }
}
@media screen and (max-height: 646px) {
    body{
        margin-top: -85px;
    }
}



/* My Social Links: 

#Facebook - https://www.facebook.com/profile.php?id=100080121784783

#Instagram - https://www.instagram.com/elliot_elderson_/

#Website - www.tanbinhasan.com 
           or 
           www.tanhasan.com  */